.hline{
    background-image: linear-gradient(to left , #FF1818,#041562,#CDDEFF);
    margin: 20px auto 0px auto;
    width: 60%;
    height: 3px;
}

.forms{
    padding: 35px 0px 0px 0px ;
}
.formhead{
    margin: -20px 0px 20px 0px;
}
.forminput{
    background-color: rgb(240,240,240);
    border-style: none;
    border: none;
    outline: none;
}
.formline{
    margin-top: 0;
    width: 80%;
}
.form-select {
    border: none !important;
    border-radius: none !important;
    width: 80% !important;
    padding: 0px 0px 0px 2px !important;
    transition: none !important;
}
.forms span{
    color: red;
}
.create-select{
    border: none;
    width:80%;
    outline: none;
    padding: 0px 0px;
}

