.nav img{
    width: 55%;
    height: 55px;
    margin: 25px 21px 0px 70px ;
}
.face{
    margin-top: 34px;
}
.nav-login img{
    width: 55%;
    height: 55px;
    margin: 0px 55px 1px 60px;
    padding: 0px 0px 0px 19px;
}



